<head>
    <body>
      Welcome to <%=title%>
      <br>
      <div>
        <ul>
            <li>
                <a href="Products"> Products</a>
                
                
            </li>
        </ul>
      </div>
    </body>
  </head>